.container {
  display: flex;
  flex-direction: column;

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
  }

  .header {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 5px 20px;
    margin-bottom: 25px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
      cursor: pointer;
    }

    .user-detail {
      display: flex;

      .profile {
        width: 40px;
        height: 40px;
        background: rgb(162, 214, 178);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }

      .name-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .phone {
          font-size: 12px;
        }
      }
    }
  }

  .date {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;

    .left-line {
      margin-right: 10px;
    }

    .right-line {
      margin-left: 10px;
    }

    .horizontal-line {
      border-bottom: 2px dotted black;
      flex: 1;
      height: 0.2px;
    }

    p {
      background: white;
    }
  }

  .right-card {
    align-self: flex-end;
  }

  .left-card {
    align-self: flex-start;
  }

  .card-container {
    width: 60%;
    margin: 0 20px;
    margin-bottom: 30px;

    .card {
      border: 1px solid black;
      padding: 20px 20px 10px 20px;

      .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .top-left {
          font-size: 40px;
        }

        .top-right {
          display: flex;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }
      }

      .bottom {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;

        .transaction-id {
          font-size: 12px;
        }

        .btn-container {
          display: flex;
        }

        .btn {
          border: 1px solid black;
          border-radius: 5px;
          padding: 5px 30px;
          margin-right: 10px;
          cursor: pointer;
        }

        img {
          width: 40px;
          height: 40px;
          position: relative;
          left: 15px;
          cursor: pointer;
        }
      }
    }

    .transaction-date-time {
      font-size: 12px;
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
